bibtexparser
rapidfuzz
selenium
webdriver-manager
scikit-learn
textdistance
sentence-transformers
matplotlib
scipy
nltk
scikit-learn
pandas
wordcloud
reportlab
pycountry
seaborn
numpy
nltk
Pillow
plotly
kaleido
streamlit
geopandas